body {

  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

video {
    width: 100%;
/*    height: 500px;*/
    object-fit: cover;
}

.phogen-app {

  min-height: 100vh;

}
.soundcloud-link {

  display: none;
}
.spotify-link {

  display: none;
}

@media screen and (max-width: 576px) {
    .wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);


    }
    .phogen-app {
      position: relative;
      background-color: gray;
     

    }
    .soundcloud-link {
        color: white;
        display: block;
         position: absolute;
        bottom: 80%;
        left: 50%;
        transform: translate(-50%, -80%);
    }
    .spotify-link {
        color: white;
        display: block;
         position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -20%);
    }
}

.video-mask:hover {





}

.row1 {
  height: 33%vh;
}

@keyframes grow {
  0% {
  
  }
  100% {
    transform: scale(1.4);
  }
}

.card {
  border: unset;

		background-color: gray;

}